/* .off-canvas-wrapper-inner,
.off-canvas-wrapper,
.numbero {
	height: 100%;
} */

.ImagenCedula {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
}

.Sube-Cedula {
	background-color: rgb(240, 229, 229);
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.print-yes {
	display: none;
}

@media print {
	.no-print,
	.no-print * {
		display: none !important;
	}

	.yes-print {
		transform: translate(-240px, 0px) !important;
		width: 130%;
	}

	.print-yes {
		display: inline;
	}
}
