/* .off-canvas-wrapper-inner,
.off-canvas-wrapper,
.numbero {
	height: 100%;
} */

.Principal {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 100%;
}

.NavbarPrincipal {
	grid-column: 1/2;
}

.SwitchPrincipal {
	background-color: tomato;
	grid-column: 1/3;
}
