body {
	box-sizing: border-box;
}

.Main {
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 2fr 17fr 1fr;
	grid-template-areas:
		"Navbar"
		"Switch"
		"Footer";
	background-color: rgb(255, 255, 255);
}

.Navbar {
	grid-area: "Navbar";
}

.Switch {
	grid-area: "Switch";
}

.Footer {
	grid-area: "Footer";
}
