.todo {
	height: 100%;
}

.sideNav {
	background-image: url("../img/fondo1.jfif");
	background-position: center;
	background-blend-mode: overlay;
	background-size: cover;
	background-repeat: no-repeat;
}
