.tablaClientes td {
	border: 1px dotted silver;
	word-break: break-all;
	font-size: 12px;
}

.tablaClientes th {
	font-size: 14px;
}

.representante {
	width: 120px;
}

.telefono {
	width: 80px;
}

.id {
	width: 60px;
}

.rut {
	width: 90px;
}

.saldo {
	width: 80px;
}

.fecha {
	width: 85px;
}

.divPaginator {
	width: 40%;
	margin: 0 auto;
}

.divPaginator li {
	display: inline-block;
}

.divPaginator li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.divPaginator .selected {
	background-color: rgba(6, 70, 112, 255);
}

.divPaginator li a:hover:not(.active) {
	background-color: #ddd;
}
