.print-yes {
	display: none;
}

.DivPrincipal {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 10vh 20vh 20vh 19vh 10vh;
}

.DivTitulo {
	grid-column: 1/4;
	grid-row: 1/2;
}

.DivFiltro {
	grid-column: 4/5;
	grid-row: 1/2;
}

.DivSecundario {
	grid-column: 1/5;
	grid-row: 2/5;
	z-index: 0;
	overflow-y: scroll;
}

.DivTerciario {
	grid-column: 2/4;
	grid-row: 1/4;
	z-index: 8;
	filter: drop-shadow(0px 4px 8px #000000);
}

.DivBotones {
	grid-column: 1/5;
	grid-row: 5/6;
	margin-top: 1vh;
}

.notas {
	height: 200px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
}

@media print {
	.no-print,
	.no-print * {
		display: none !important;
	}

	.yes-print {
		transform: translate(-240px, 0px) !important;
		width: 130%;
	}

	.print-yes {
		display: inline;
	}
}
